@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #000000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #00c0fa;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main5 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/backkk.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #d9ff02;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #91ff00;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-left: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #FEC544;
    font-size: 2.2em;
    font-weight: 1000;
    margin-bottom: 30px;
}
.title55 {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 2.2em;
    font-weight: 1000;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: #FEC544;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #f43a3a;
}

.more-details:hover {
    color: #601cfc;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 700;
}

.footer-title span {
    color: #00ecd9;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
/* About section content */

#about{
    background: #07080B;
}

.about .title::before{
    background: #FEC544;
}
.about .title::after{
    background: #FEC544;
}

.about h1{
    color: #6e6e70;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}

.about h5{
    font-weight: 700;
    transform: translateY(-65px);
}

.about .about-content .column{
    margin-top: 40px;
}
.about .about-content,
.services .service-content,
.skills .skill-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-60px);
}

.about .about-content .left{
    width: 55%;
    padding: 0 20px;
    overflow: hidden;
}
.about .about-content .left img{
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 50%;
}

.about .about-content .left{
    width: 45%;
    color: #A9ADB8;
}

.about .about-content .left .text{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.about .about-content .left p{
    text-align: justify;
}
.about .about-content .left .text span{
    color: #FEC544;
}
.about .about-content .left .table{
    width: 500px;
    padding: 10px 0;
    margin-left: 0px;
}
.about .about-content .left .table td{
    padding: 10px;
}

/* My Skills Section */

#skills{
    background: #07080B;
}

.skills h1{
    color: #6e6e70;
    text-align: center;
    font-size: 80px;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}
.skills h5{
    font-weight: 700;
    transform: translateY(-65px);
}
.skills .title::before{
    background: #FEC544;
}
.skills .title::after{
    background: #FEC544;
}

.skills .skill-content .column{
    margin-top: 10px;
    width: calc(110% - 50px);
}

.skills .skill-content .left .text{
    font-size: 27px;
    font-weight: 700;
    padding: 10px 0;
    margin-bottom: 10px;
    color: #FEC544;
}
.skills .skill-content .left p{
    color: #A9ADB8;
    text-align: justify;
    line-height: 1.4;
    padding-top: 15px;
}
.skills .skill-content .center a{
    display: inline-block;
    background: #FEC544;
    color: #07080B;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid #FEC544;
    transition: all 0.3s ease;
}
.skills .skill-content .left a:hover{
    color: #FEC544;
    background: none;
}
.skills .skill-content .right .bars{
    margin-bottom: 20px;
}
.skills .skill-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: left;
    justify-content: space-between;
    color: #A9ADB8;
}
.skills .skill-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skill-content .right .line{
    height: 9px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skill-content .right .line::before{
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #FEC544;
}

.skills .skill-content .right .ps::before{
    width: 65%;
}
.skills .skill-content .right .mg::before{
    width: 80%;
}
.skills .skill-content .right .axd::before{
    width: 50%;
}
.skills .skill-content .right .uxd::before{
    width: 90%;
}
.skills .skill-content .right .html::before{
    width: 99%;
}
.skills .skill-content .right .dm::before{
    width: 56%;
}







 












@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
    .about .about-content .left{
        width: 100%;
        color: #A9ADB8;
    }
    .about .about-content .left img{
        height: 280px;
        width: 280px;
        object-fit: cover;
        border-radius: 50%;
    }

}
/* Services section styling */

#services{
    color: #000000;
    background: #FEC544;
}

.services h5{
    font-weight: 700;
    color: #07080B;
    transform: translateY(-65px);
}

.services h1{
    color: #07080B;
    text-align: center;
    font-size: 80px;
    transform: translateY(23px);
    opacity: 0.1;
    padding-top: -20px;
}

.services .service-content .main{
    width: calc(30% - 20px);
    min-height: 450px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.service{
    background: #07080B;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 0 20px -15px #07080B;
    transition: transform 0.8s;
}
.service-logo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #07080B;
    border: 18px solid #FEC544;
    transform: transform 1s;
}
.service-logo i{
    color: #FEC544;
    width: 50px;
    margin-top: 20px;
}

.service h4{
    height: 28px;
    width: 80%;
    background: #07080B;
    margin: 60px auto;
    position: relative;
}
.service h4::after{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #07080B , #FEC544 );
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}
.service h4::before{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #FEC544 , #07080B);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}
.about .about-content .left img{
        height: 280px;
        width: 280px;
        object-fit: cover;
        border-radius: 50%;
    }
.shadowone{
    height: 200px;
    width: 80%;
    background: #07080B;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -15px #07080B;
    transition: transform 0.8s;
}
.shadowtwo{
    height: 200px;
    width: 64%;
    background: #07080B;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
}

.main:hover .service{
    transform: translateY(-50px);
}
.main:hover .shadowone{
    transform: translateY(-25px);
}










@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}

i.flag-es:before, i.flag-spain:before {
    background-position: 0 -1742px!important;
}
i.flag:before {
    content: "";
    background: url(https://mdbootstrap.com/img/svg/flags.png) no-repeat -108px -1976px;
}
i.flag:before, i.flag:not(.icon) {
    display: inline-block;
    width: 16px;
    height: 11px;
}
*, :after, :before {
    box-sizing: border-box;
}

i.flag-gb:before, i.flag-uk:before, i.flag-united-kingdom:before {
    background-position: -36px -26px!important;
}
i.flag:before {
    content: "";
    background: url(https://mdbootstrap.com/img/svg/flags.png) no-repeat -108px -1976px;
}
i.flag:before, i.flag:not(.icon) {
    display: inline-block;
    width: 16px;
    height: 11px;
}
*, :after, :before {
    box-sizing: border-box;
}